@media (max-width: 940px){
.brands .container .brands_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    .brands .container .brands_flex article{
        margin-right: 15px;
        margin-bottom: 15px;
    }




    .projects .container .projects_wrap{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .projects .container .projects_wrap article:last-of-type{
        display: none;
    }



    .our_team .container .stuff_flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .our_team .container .stuff_flex article{
        margin-bottom: 30px;
    }
}
    

@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    header .container nav{
       position: fixed;
       top: -100%;
       width: 100%;
       text-align: center;
       transition: 0.5s ease-in-out;
    }
    header .container nav.active{
        width: 100%;
        height: 200%;
        background-color: cadetblue;
        z-index: 2;
        text-align: center;
       top: 0;
        padding: 170px 0 0 0;
    }
    header .container nav ul{
        display: block;
       
        position: relative;
        z-index: 3;
    }
    header .container nav ul li{
        margin-right: 0;
        margin-bottom: 30px;
    }
    header .container nav ul li a{
        font-size: 22px;
        color: black;
    }
    header .container .logo_block{
        padding: 10px 10px;
        position: relative;
        z-index: 3;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        margin-right: 10px;
    }
    .header_burger::before,
    .header_burger::after{
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: black;
    }
    .header_burger::before{
        top: 0px;
        height: 2.5px;
        transition: 0.2s ease;
    }
    .header_burger::after{
        bottom: 0px;
        transition: 0.2s ease;
    }
    .header_burger span{
        position: absolute;
        top: 9px;
        background-color: black;
        height: 2px;
        width: 100%;
        transition: 0.2s ease;
    }
    .header_burger.active::before{
        top: 9px;
        transform: rotate(45deg);
        transition: 0.3s ease;
    }
    .header_burger.active::after{
        bottom: 9px;
        transform: rotate(-45deg);
        transition: 0.3s ease;
    }
    .header_burger.active span{
        transform: scale(0);
        
    }

    .about .container .about_flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .about .container .about_flex article{
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 632px) {
    .brands .container .brands_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .brands .container .brands_flex article{
        margin-right: 0;
    }
    .projects .container .projects_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects .container .projects_wrap article {
        margin-right: 0;
    }
    .our_team{
        padding: 0 0;
    }
}

@media (max-width: 600px) {
    .reviews .container .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews .container .cards article{
        padding: 0 0;
        margin-bottom: 20px;
        border-right: 0px;
    }
    .about .container .about_flex  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .container .about_flex article{
        margin-right: 0;
    }


    footer .container {
        padding: 0 88px;
    }
    footer .container form button{
        padding: 10px 25px;
    }
}