*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container{
    max-width: 940px;
    margin: auto;
    padding: 0 12px;
}

header{
    margin-bottom: 18px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;

        .logo_block{
            display: flex;
            align-items: center;
            img{
                margin-right: 18px;
            }
            h4{
                color: #333;
                font-family: Oswald;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 38px;
                text-transform: uppercase;
            }
        }
        nav{
            ul{
                display: flex;
                list-style: none;
                li{
                    margin-right: 34px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    a{
                        text-decoration: none;
                        color: #404040;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-transform: uppercase;
                        &:hover{
                            display: inline-block;
                            text-decoration: underline yellow 2px;
                        }
                    }
                }
            }
        }
    }
}


.main_banner{
    background-image: url(../images/ocean.jpg);
    background-size: cover;
    padding: 103px 0;
    .container{
        h1{
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 55px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }
        img{
            display: block;
            margin: auto;
            margin-bottom: 25px;
        }
        p{
            color: rgba(255, 255, 255, 0.81);
            text-align: center;
            font-family: Vollkorn;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 60px;
        }
        .X{
            margin-bottom: 0;
            position: relative;
            top: 129px;
        }
    }
}

.yellow{
    background-color: #FEFEC9;
    padding: 60px 0;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            color: #47474F;
            text-align: center;
            font-family: Vollkorn;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 40px;
        }
        button{
            display: inline-block;
            width: 159px;
            height: 53px;
            flex-shrink: 0;
            background-color: #FEFEC9;
            color: #47474F;
            text-align: center;
            font-family: Vollkorn;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            cursor: pointer;
                &:hover{
                    background-color: azure;
                }
        }
    }
}



.brands{
    padding: 75px 0;
    .container{
        h3{
            color: #333;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .line{
            display: block;
            margin: auto;
            margin-bottom: 43px;
        }
        .brands_flex{
            display: flex;
            justify-content: space-between;
            article{
                display: flex;
                flex-direction: column;
                max-width: 300px;
               .img_box{
                background-color: #F5F5F5;
                padding: 50px 80px;
                margin-bottom: 40px;
                &:hover{
                    transform: scale(1.03, 1.03);
                    transition: 0.3s ease-in-out;
                }
               }
               h4{
                margin-bottom: 20px;
                color: #333;
                text-align: center;
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; 
                text-transform: uppercase;
               }
               p{
                color: #333;
                text-align: center;
                font-family: Vollkorn;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
               }
        }
        }
    }
}


.projects{
    background: #F5F5F5;
    padding: 70px 0;

    .container{
        h3{
            color: #333;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .line{
            display: block;
            margin: auto;
            margin-bottom: 45px;
        }
        .projects_wrap{
            display: flex;
            flex-wrap: wrap;
            article{
                max-width: 285px;
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                margin-bottom: 20px;
                &:hover{
                    transform: scale(1.02, 1.02);
                    transition: 0.2s ease-in-out;
                }
                &:last-of-type{
                margin-right: 0px;
                }
                .projects_img{
                max-width: 300px;
                img{
                    display: block;
                    width: 100%;
                }
                }
                .projects_description{
                    background-color: white;
                    padding: 20px 0;
                    h5{
                        color: #333;
                        text-align: center;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; 
                        text-transform: uppercase;
                    }
                    p{
                        color: #333;
                        text-align: center;
                        font-family: Vollkorn;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}


.our_team{
    padding: 80px 0;
    .container{
        h4{
            margin-bottom: 30px;
            color: #333;
            text-align: center;
            font-family: Montserrat;
            font-size: 23px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: uppercase;
        }
        .line{
            margin: auto;
            display: block;
            margin-bottom: 43px;
        }
        .stuff_flex{
            display: flex;
            justify-content: space-between;
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                .stuff_img{
                    max-width: 220px;
                    margin-bottom: 20px;
                    img{
                        display: block;
                        width: 100%;
                    }
                }
                p{
                    color: #333;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; 
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                    }
                }
                h6{
                    color: #333;
                    text-align: center;
                    font-family: Vollkorn;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; 
                    margin-bottom: 20px;
                }
                .links{
                    a{
                        display: inline-block;
                        margin-right: 12px;
                    }
                }
            }
        }

    }
}



.reviews{
    background: #F5F5F5;
    padding: 80px 0;
    .container{
        .quotes{
            display: block;
            margin: auto;
            margin-bottom: 70px;
        }
        .cards{
            display: flex;
            justify-content: center;
            article{
                max-width: 446px;
                padding: 0 54px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #333333;
                &:last-of-type{
                    border-right: 1px solid #F5F5F5;
                }
                p{
                    color: #333;
                    text-align: center;
                    font-family: Vollkorn;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 33px; 
                    margin-bottom: 15px;
                }
                img{
                margin-bottom: 10px;
                }
                a{
                    color: #ABABAB;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; 
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
}



.about{
    padding: 80px 0;
    background-color: #7EC4BD;
    .container{
       h4{
        margin-bottom: 20px;
        color: #333;
        text-align: center;
        font-family: Montserrat;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; 
        text-transform: uppercase;
       } 
       .line{
        display: block;
        margin: auto;
        margin-bottom: 40px;
       }
       .about_flex{
        display: flex;
        justify-content: space-between;
        article{
        max-width: 195px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .about_img{
        margin-bottom: 20px;
        min-height: 65px;
        }
         h5{
            color: #333;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; 
            text-transform: uppercase;
            margin-bottom: 10px;
           }
           p{
            color: #212121;
            text-align: center;
            font-family: Vollkorn;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
           }
         }
         .third{
            a{
                margin-bottom: 11px;
                text-decoration: none;
                color: #212121;
                font-family: Vollkorn;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; 
            }
            .Facebook{
            background-image: url(../images/IMAGE\ \(8\).svg);
            background-repeat: no-repeat;
            padding-left: 20px;
            }
            .Twitter{
                background-image: url(../images/IMAGE\ \(9\).svg);
                background-repeat: no-repeat;
                padding-left: 20px;
                position: relative;
                right: 9px;
            }
            .Linkdin{
                background-image: url(../images/IMAGE\ \(10\).svg);
                background-repeat: no-repeat;
                padding-left: 20px;
                position: relative;
                right: 5px;
            }
         }
       }
    }
}


footer{
background-color: black;
padding: 70px 0;
    .container{
        padding: 0 188px;
        text-align: center;
        form{
            input{
                width: 100%;
                display: inline-block;
                height: 57px;
                background: rgba(255, 255, 255, 0.18);
                border: rgba(255, 255, 255, 0.18);
                padding-left: 30px;
                color: white;
                &:nth-child(2){
                background: rgba(255, 255, 255, 0.20);
                }
            }
            textarea{
                width: 100%;
                height: 127px;
                background: rgba(255, 255, 255, 0.20);
                border: rgba(255, 255, 255, 0.18);
                padding-left: 30px;
                color: white;
                padding-top: 20px;
                margin-bottom: 40px;
            }
            button{
            padding: 15px 60px;
            color: #8BCAC3;
            text-align: center;
            font-family: Vollkorn;
            font-size: 17px;
            font-style: italic;
            font-weight: 400;
            line-height: 22px;
            background-color: black;
            border: 1px solid #8BCAC3;
            margin-bottom: 40px;
                &:hover{
            cursor: pointer;
            background-color: #8BCAC3;
            color: white;
            transition: 0.3s ease-in-out;
                }
            }
        }
      img{
        margin-bottom: 20px;
      }
      p{
        color: rgba(255, 255, 255, 0.40);
        text-align: center;
        font-family: Vollkorn;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 146.667% */
      }
    }
}